<div class="content">
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select matNativeControl (selectionChange)="onLangChange($event)">
      <mat-option value="lt">Lithuanian</mat-option>
      <mat-option value="en">English</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-toolbar color="primary">
    <ul>
      <div>
        <li>
          <a [routerLink]="['/appointments']" routerLinkActive="active">{{
            "header.appointments" | translate
          }}</a>
        </li>
        <li>
          <a
            [routerLink]="['/admin']"
            routerLinkActive="active"
            *ngIf="userService.isAuthorized(['admin'])"
            >{{ "header.admin_panel" | translate }}</a
          >
        </li>
      </div>
      <div *ngIf="!isAuthenticated()">
        <li>
          <button mat-raised-button color="basic" (click)="redirect('login')">
            {{ "header.login" | translate }}
          </button>
        </li>
        <li>
          <button mat-raised-button color="accent" (click)="redirect('signup')">
            {{ "header.signup" | translate }}
          </button>
        </li>
      </div>
      <div *ngIf="isAuthenticated()">
        <button mat-raised-button color="accent" (click)="logOut()">
          {{ "header.logout" | translate }}
        </button>
      </div>
    </ul>
  </mat-toolbar>
</div>
