mat-card {
  margin: 2rem;
  width: 600px;
  margin-inline: auto;
}
mat-form-field {
  display: block;
  width: 100%;
  margin-top: 0rem;
}
button {
  margin-top: 1.5rem;
}
mat-error {
  margin-bottom: 0.75rem;
}
